INSTAGRAM_ACCESS_TOKEN=your_token_here
INSTAGRAM_USER_ID=17841477136603889
AGNES_API_KEY=your_agnes_key_here
PINTEREST_ACCESS_TOKEN=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
VIDEO_PUBLISH_DELAY=30
